---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main class="p-2">
    <header class="w-full p-2 border-[.25rem] border-front flex justify-between items-end">
      <h1 class="uppercase text-6xl leading-none">nosense</h1>
    </header>
  </main>
</Layout>
