---
import '../index.css'
---

<!doctype html>
<html lang="en">
  <head>
    <!-- <Head {...generateRouteData()} /> -->
    <meta charset="UTF-8" />
    <meta name="description" content={''} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Fiar</title>
  </head>
  <body>
    <header class="flex justify-between px-6 text-xl">
      <p class="font-medium">Fiar</p>
      <ul>
        <a href="guides/getting-started" class="text-front no-underline">Docs</a>
      </ul>
    </header>
    <section class="flex items-center justify-center w-full h-screen px-6">
      <div class="w-2/3">
        <h2 class="text-6xl">Craft Powerful Dashboards</h2>
        <p>
          Fiar is built with flexibility in mind, allowing you to tailor your admin dashboard according to your
          project's requirements.
        </p>
      </div>
      <div class="w-1/2"></div>
    </section>
  </body>
</html>
